*{
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;
}
.block1{
	width: 100%;
	height: 12.3456790123vh;
}
.Main1{
	text-decoration: none; 
    color: black; 
}
.block3{
	width: 100%;
	height: 90vh;
	max-height: 90vh;
	border: 0px;
	padding-top: 5%;
	display: grid;
	border: 0px solid rgb(80, 145, 27);
	border-radius: 0px;
	grid-template-columns: 3fr 4fr;
	grid-template-rows: 1fr 5fr;
	grid-template-areas: 
	"a a" 
	"c b";
}
.block3 * {
    border: 0px dashed; /* Обводим чёрным пунктиром */
    border-radius: 0px; /* Скругляем углы на 10 пикселей */
}
.Text1{ grid-area: a ;
font-family: 'Playfair Display';
align-self: center;
grid
	font-size: 5vh;
	font-weight: 20px;
	justify-items: center;
	align-self: center;
	justify-self: center;
}
.Text2{ grid-area: b ;
align-self: center;
	justify-self: center;}
.photo2a{ grid-area: c ;
height: 9vh}
.logo{
	height: 10vh;
	align-content: center;
	text-align: center;
}
.vk{height: 5vh;}
.tel{height: 5vh;}
.inst{height: 5vh;}
.photo1{
	padding-top: 5%;
	width: 100%;
	height: 96.6172839506vh;
}
.photo2{
	height: 85vh;
}
.photo3{
	height: 85vh;
}
.photo4{
	height: 85vh;
	width: 100%;
}
.photo5{
	height: 85vh;
}
.photo6{
	height: 85vh;
}
.photo7{
	height: 85vh;
}
.table1{
	margin-top: -1.45%;
	height: 12.3456790123vh;
	width: 100%;
	position: sticky;
	top: 0;
	font-family: 'Playfair Display';
	font-size: 3vh;
	max-height: 12.3456790123vh;

}
.table3{
	margin-top: -1%;
	margin-left: -1%;

	z-index: 1;
	position: relative;
}
.table4{
	margin-top: 33%;
	margin-left: 78.5%;
	height: 4.93827160493vh;
	z-index: 2;
	position: relative;
}
.table5{
	margin-top: -3%;
	margin-left: 77.5%;

	z-index: 1;
	position: relative;
}
.table6{
	border-collapse: collapse;
	height: 4.93827160493vh;
	margin-top: -8%;
	margin-left: 16.4%;
}
.table7{
	border-collapse: collapse;
	height: 4.93827160493vh;
	margin-top: 0%;
	margin-left: 53.5%;
}
.table8{
	border-collapse: collapse;
	height: 4.93827160493vh;
	margin-top: -30%;
	margin-left: 34.4%;
}
.table9{
	height: 4.93827160493vh;
	width: 1%;
	justify-items: center;
}
.table10{
	height: 4.93827160493vh;
	z-index: 2;
	position: relative;
	padding-top: 20%;
}
.td1{
	border-top: 2px solid black;
	border-right: 2px solid black;
}
.td2{
	border-bottom: 2px solid black;
	border-left: 2px solid black;
}
.td3{
	border-top: 2px solid black;
	border-left: 2px solid black;
}
.td4{
	border-top: 2px solid black;
	border-right: 2px solid black;
	height: 4.93827160493vh;
}
.h3{
	font-family: 'Lato';
	font-size: 2.5vh;
	margin-left: 2.3%;
	margin-top: 1.5%;
	font-weight: 1;
}
.h2{
	font-size: 5vh;
}
.h1{
	width: 100%;
	font-size: 5vh;
	font-family: 'Playfair Display';
}
.h5{
	font-size: 3.5vh ;
	font-family: 'Lato';
	font-weight: 4vh;
}
.h4{
	text-align: justify;
	font-size: 3vh;
	font-weight: 1;
	font-family: 'Lato';
}
.h6{
font-family: 'Lato';
font-size: 3vh ;
font-weight: 1;
}
.h7{
	font-family: 'Lato';
	font-size: 3vh ;
	font-weight: 1;
}
.h8{
	font-family: 'Playfair Display';
	font-size: 5vh;
}
.h9{
	font-family: 'Lato';
	font-size: 3vh ;

}
.h10{
	font-family: 'Lato';
	font-size: 3vh ;
}
.h11{
	font-family: 'Lato';
	font-size: 3vh ;
}
.h12{
	font-family: 'Lato';
	font-size: 3vh ;
	font-weight: 1;
}
.font1{
	font-family: 'Playfair Display';
	font-size: 3vh;
}
.block4{
	width: 100%;
	height: 410vh;
	border: 0px;
	margin-top: 5%;
	display: grid;
	border: 0px solid rgb(80, 145, 27);
	border-radius: 0px;
	grid-template-columns: 3fr 2fr;
	grid-template-rows: 2fr 1fr 4fr 3fr 1fr 2fr 38fr;
	grid-template-areas: 
	"a a" 
	"b c"
	"d c"
	"e e"
	"f f"
	"g g"
	"h h";
}
.block4 * {
    border: 0px dashed; /* Обводим чёрным пунктиром */
    border-radius: 0px; /* Скругляем углы на 10 пикселей */
}
.a1{ grid-area: a ;
align-self: center;}
.a2{ grid-area: b ;
padding: 20px;}
.a3{ grid-area: c ;
justify-self: end ;}
.a4{ grid-area: d ;
padding: 20px;}
.a5{ grid-area: e ;
padding-left: 20px;}
.a6{ grid-area: f ;
padding: 20px;}
.a7{ grid-area: g ;}
.a8{ grid-area: h ;
padding-left: 20px;}
.block5{
	height: 120.2222vh;
	width: 100%;
	border: 0px;
	display: grid;
	border: 0px solid rgb(80, 145, 27);
	border-radius: 0px;
	grid-template-rows: 1fr 5fr;
	grid-template-areas:
	"b1 b1 b1"
	"b2 b3 b4"
}
.block5 * {
    border: 0px dashed; /* Обводим чёрным пунктиром */
    border-radius: 0px; /* Скругляем углы на 10 пикселей */
}
.b1{ grid-area: b1 ;}
.b2{ grid-area: b2 ;}
.b3{ grid-area: b3 ;}
.b4{ grid-area: b4 ;}
.block6{
	height: 30vh;
	border: 0px;
	display: grid;
	border: 0px solid rgb(80, 145, 27);
	border-radius: 0px;
	grid-template-columns: 3fr 2fr;
	grid-template-areas:
	"c1 c3"
	"c2 c3"
}
.block6 * {
    border: 0px dashed; /* Обводим чёрным пунктиром */
    border-radius: 0px; /* Скругляем углы на 10 пикселей */
}
.c1{ grid-area: c1 ;
margin-left: 4%;
margin-top: 4%}
.c2{ grid-area: c2 ;
margin-left: 4%;}
.c3{ grid-area: c3 ;
 display: grid;
grid-template-areas:
"c4 c5"
"c6 c7";
grid-template-rows: 1fr 3fr;}
.c4{ grid-area: c4 ;
align-self: center;}
.c5{ grid-area: c5 ;
align-self: center;}
.c6{ grid-area: c6 ;}
.c7{ grid-area: c7 ;
	display: grid;
	grid-template-areas:
"c8 c9 c10";
}