* {
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;
}
.block1{
	width: 100%;
	height: 12.3456790123vh;
}
.table1{
	margin-top: -1.45%;
	height: 12.3456790123vh;
	width: 100%;
	position: sticky;
	top: 0;
	font-family: 'Playfair Display';
	font-size: 3vh;
	max-height: 12.3456790123vh;

}
.font1{
	font-family: 'Playfair Display';
	font-size: 3vh;
}
.h1{ /* Заголовок */
	font-family: 'Playfair Display';
	font-size: 5vh;
	font-weight: lighter;
}
.h2{ /* Под-Заголовок */
	font-family: 'Lato';
	font-size: 4.5vh;
	font-weight: bold;
	color: black; 
}
.h3{ /* Основной-Текст */
	font-family: 'Lato';
	font-size: 3vh;
	font-weight: lighter;
}
.logo{
	height: 10vh;
	align-content: center;
	text-align: center;
}
.vk{height: 5vh;}
.tel{height: 5vh;}
.inst{height: 5vh;}
.Main1{
	text-decoration: none; 
    color: black; 
}
.block2{
	width: 100%;
	height: 320vh;
	border: 0px;
	margin-top: 5%;
	display: grid;
	border: 0px solid rgb(80, 145, 27);
	border-radius: 0px;
	grid-template-columns: 2fr 1fr ;
	grid-template-rows: 2fr 2fr 5fr 2fr 5fr 4fr 5fr;
	grid-template-areas:
	"a1 a1"
	"a2 a2"
	"a3 a4"
	"a5 a5"
	"a6 a7"
	"a8 a8"
	"a9 a10";
}
.block2 * {
    border: 0px dashed; /* Обводим чёрным пунктиром */
    border-radius: 0px; /* Скругляем углы на 10 пикселей */
}
.a1 { grid-area: a1 ;
align-self: center;
}
.a2 { grid-area: a2 ;
margin-left: 1%;
}
.a3 { grid-area: a3 ;
align-self: center;
text-align: center;}
.a4 { grid-area: a4 ;
align-self: center;
text-align: start;}
.a5 { grid-area: a5 ;
margin-left: 1%;}
.a6 { grid-area: a6 ;
align-self: center;
text-align: center;}
.a7 { grid-area: a7 ;
align-self: center;
text-align: start;}
.a8 { grid-area: a8 ;
margin-left: 1%;}
.a9 { grid-area: a9 ;
align-self: center;
text-align: center;}
.a10 { grid-area: a10 ;
align-self: center;
text-align: start;}
.photo1{
	height: 60vh;
	width: 90%;
}
.photo2{
	height: 60vh;
	width: 90%
}
.photo3{
	height: 60vh;
	width: 90%;
}
.photo4{
	height: 60vh;
	width: 90%
}
.photo5{
	height: 60vh;
	width: 90%;
}
.photo6{
	height: 60vh;
	width: 90%
}
.block3{
	width: 100%;
	height: 150vh;
	border: 0px;
	margin-top: 5%;
	display: grid;
	border: 0px solid rgb(80, 145, 27);
	border-radius: 0px;
	grid-template-rows: 2fr 10fr 9fr;
	grid-template-columns: 2fr 3fr;
	grid-template-areas:
	"b1 b1"
	"b2 b3"
	"b2 b5"
	"b4 b5";
}
}
.block3 * {
    border: 0px dashed; /* Обводим чёрным пунктиром */
    border-radius: 0px; /* Скругляем углы на 10 пикселей */
}
.b1{ grid-area: b1 ;}
.b2{ grid-area: b2 ;
text-align: center;}
.b3{ grid-area: b3 ;}
.b4{ grid-area: b4 ;}
.b5{ grid-area: b5 ;
	display: grid;
	grid-template-areas:
	"b6 b7";
	border: 0px solid rgb(80, 145, 27);
	border-radius: 0px;
	border: 0px;
}
.b5 *{
	border: 0px dashed; /* Обводим чёрным пунктиром */
    border-radius: 0px; /* Скругляем углы на 10 пикселей */
}
.b6{ grid-area: b6 ;
align-self: end;}
.b7{ grid-area: b7 ;
align-self: end;}
.photo7{
	height: 90vh;
}
.photo8{
	height: 60vh;
}
.block4{
	width: 100%;
	height: 150vh;
	border: 0px;
	margin-top: 5%;
	display: grid;
	border: 0px solid rgb(80, 145, 27);
	border-radius: 0px;
	grid-template-rows: 10fr 9fr;
	grid-template-columns: 2fr 3fr;
	grid-template-areas:
	"c2 c3"
	"c2 c5"
	"c4 c5";
}
}
.block4 * {
    border: 0px dashed; /* Обводим чёрным пунктиром */
    border-radius: 0px; /* Скругляем углы на 10 пикселей */
}
.c2{ grid-area: c2 ;
text-align: center;}
.c3{ grid-area: c3 ;}
.c4{ grid-area: c4 ;}
.c5{ grid-area: c5 ;
	display: grid;
	grid-template-areas:
	"c6 c7";
	border: 0px solid rgb(80, 145, 27);
	border-radius: 0px;
	border: 0px;
}
.c5 *{
	border: 0px dashed; /* Обводим чёрным пунктиром */
    border-radius: 0px; /* Скругляем углы на 10 пикселей */
}
.c6{ grid-area: c6 ;
align-self: end;}
.c7{ grid-area: c7 ;
align-self: end;}
.photo10{
	height: 90vh;
}
.photo11{
	height: 60vh;
}
.photo12{
	height: 60vh;
}
.block5{
	width: 100%;
	height: 150vh;
	border: 0px;
	margin-top: 5%;
	display: grid;
	border: 0px solid rgb(80, 145, 27);
	border-radius: 0px;
	grid-template-rows: 10fr 9fr;
	grid-template-columns: 2fr 3fr;
	grid-template-areas:
	"e2 e3"
	"e2 e5"
	"e4 e5";
}
.block5 * {
    border: 0px dashed; /* Обводим чёрным пунктиром */
    border-radius: 0px; /* Скругляем углы на 10 пикселей */
}
.e2{ grid-area: e2 ;
text-align: center;}
.e3{ grid-area: e3 ;}
.e4{ grid-area: e4 ;}
.e5{ grid-area: e5 ;
	display: grid;
	grid-template-areas:
	"e6 e7";
	border: 0px solid rgb(80, 145, 27);
	border-radius: 0px;
	border: 0px;
}
.e5 *{
	border: 0px dashed; /* Обводим чёрным пунктиром */
    border-radius: 0px; /* Скругляем углы на 10 пикселей */
}
.e6{ grid-area: e6 ;
align-self: end;}
.e7{ grid-area: e7 ;
align-self: end;}
.block6{
	margin-top: 10%;
	height: 30vh;
	border: 0px;
	display: grid;
	border: 0px solid rgb(80, 145, 27);
	border-radius: 0px;
	grid-template-columns: 3fr 2fr;
	grid-template-areas:
	"d1 d3"
	"d2 d3"
}
.block6 * {
    border: 0px dashed; /* Обводим чёрным пунктиром */
    border-radius: 0px; /* Скругляем углы на 10 пикселей */
}
.d1{ grid-area: d1 ;
margin-left: 4%;
margin-top: 4%}
.d2{ grid-area: d2 ;
margin-left: 4%;}
.d3{ grid-area: d3 ;
 display: grid;
grid-template-areas:
"d4 d5"
"d6 d7";
grid-template-rows: 1fr 3fr;}
.d4{ grid-area: d4 ;
align-self: center;}
.d5{ grid-area: d5 ;
align-self: center;}
.d6{ grid-area: d6 ;}
.d7{ grid-area: d7 ;
	display: grid;
	grid-template-areas:
"d8 d9 d10";
}
.h11{
	font-family: 'Lato';
	font-size: 3vh;
	font-weight: bolder;
}
.h12{
	font-family: 'Lato';
	font-size: 3vh ;
}
.h13{
	font-family: 'Lato';
	font-size: 3vh ;
}
.h14{
	font-family: 'Lato';
	font-size: 3vh ;
	font-weight: 1;
}
